{% extends 'base.html' %}

{% block title %}
  <title> From Todo List Page </title>
{% endblock title %}

{% block content %}
  {% comment %} {{ all_tasks }} {% endcomment %}
  </br>

  {% if messages %}
    {% for message in messages  %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
  
  <form method="POST">
  {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" name="task" placeholder="New Task ?">
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
  </br>

  <table class="table table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Task</th>
        <th scope="col">Done</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

  {% if all_tasks %}

    {% for obj in all_tasks  %}
    {% comment %} {{ obj.id }} | {{ obj.task }} | {{ obj.done }}
    </br> {% endcomment %}
      {% if obj.done %}
        <tr class="table-success">
          <td>{{ obj.id }}</td>
          <td>{{ obj.task }}</td>
          <td>Completed</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>

      {% else %}
        <tr>
          <td>{{ obj.id }}</td>
          <td>{{ obj.task }}</td>
          <td>Not Complete</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      {% endif %}

    {% endfor %}

  {% endif %}

      </tbody>
    </table>
{% endblock content %}